name: Publish Snapshot

on:
  release:
    types: [prereleased]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle build
        run: ./gradlew build

      - name: Execute Gradle publish
        env:
          REPO_USERNAME: ${{ secrets.MAVEN_REPO_USERNAME }}
          REPO_PASSWORD: ${{ secrets.MAVEN_REPO_SECRET }}
        run: ./gradlew publish

      - uses: actions/upload-artifact@v2
        with:
          path: build/libs/